* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

.navbar {
   
    display:flex;
    justify-content: space-between;
    padding:20px;
    background-color: lightgray;
    
}
.nav-links  {
    display: flex;
    gap: 24px;
    
}


.nav-links a {
  text-decoration: none;
  color:#000;
  font-size: 20px;  

}


.hero-wrapper {
    background-image: url("hero banner.jpg") ;
    background-size: contain;
    align-items: center;
    background-position: bottom;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    margin-top: 20px;
    padding: 20em 0;
    
}

.hero-overlay h1 {
  font-size: 32px;
  
}

.hero-overlay p {
 font-size:16px ;
 text-align: center;
   
}

.hero-overlay button{
    background-color: chocolate;
    cursor:pointer;
    padding: 12px 8px;
    margin-top: 20px;
    border-radius: 20px;
    border: 1px solid chocolate;
   
   
}

.section {
    text-align: center;
    margin: 20px;
    word-spacing: 5px;
    font-weight: bolder;
}

.service-box{
    text-align: center;
    height: 250px;
    width: 70%;
    max-width: 300px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.08);
    justify-content: center;
    padding-top: 80px;
    text-transform: capitalize;
    border-radius: 20px;
 
} 

.service-boxes{
    display:flex;
    margin:50px;
    justify-content: center;
}



.capital-section {
    
    color: chocolate;
    background-image: url("vector image.svg");
    background-repeat: no-repeat;
    background-position:right;
    padding:80px;
    background-color:beige;
    border-color:black ;
font-size: 40px;

}


.capital-text p {
    color: #000;
    font-size: 35px;
    text-align: left;
    margin-right: 80px;
width:80%;
}


.capital-text{

font-size:40px;
color:orange;
margin:0px;
padding-left: 3em;
}
  

.capital-text p {
    color: #000;
    font-size: 35px;
    text-align: left;
    margin:0px;

}
.capital-text{
    background-image: url("vector image.svg");
    background-repeat: no-repeat;
    background-position: right;
    height:50vh;
    
}



























.coll{
     margin-left: 4em;
    }
    
    .icon{
      display: flex;
    }
    footer a {
      display: block;
      
      text-decoration: none;
      color: #000;
      gap:50px;
      font-size: 18px;
    }
     .col h4{
      font-size:35px;